<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Primera página en Django</title>
</head>

<body>
    <div>
        <p style="text-align: center;">Hola :v</p>
    </div>

    <div>
    <ul>
        <a href=""><li>Inicio</li></a>
        <a href=""><li>¿Quienes somos?</li></a>
        <a href=""><li>Nuestros servicios</li></a>
        <a href=""><li>Contactanos</li></a>
    </ul>
</div>
</body>

</html>